<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - redes1_practica2</title>
    <link type="text/css" rel="stylesheet" href="~/css/bulma-0.7.4/css/bulma.min.css" />
    <link type="text/css" rel="stylesheet" href="~/css/fontawesome-free-5.7.2-web/css/all.css" />
</head>
<body>
    <div class="section">
        <div class="container">
            @RenderBody()
        </div>
    </div>
</body>
</html>
