@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@Model.IPAddress;
<p class="title is-1">Practica 2 - Redes 1</p>
@if (Model.EsServidorVentas)
{
    <p class="title is-5">Departamento Ventas</p>
}
else
{
    <p class="title is-5">Departamento Contabilidad</p>
}
<p class="title is-5">Grupo #6</p>

<table class="table is-striped">
    <caption>Integrantes</caption>
    <tbody>
        <tr>
            <td>
                201403862
            </td>
            <td>Brandon Bredly Alvarez López</td>
        </tr>
        <tr>
            <td>
                201403532
            </td>
            <td>Ever Eduardo Chicas Prado</td>
        </tr>
        <tr>
            <td>
                200819117
            </td>
            <td>Cesar Tejaxun</td>
        </tr>
    </tbody>
</table>


